<div class="row d-flex">
  <div class="col-sm-8">
    <p class="h3" id="datetime">現在</p>
  </div>
  <div class="col-sm-4">
    <p class="h3" id="classname">值班班別</p>
  </div>
  
</div>


<div class="row" id="menu">
  <div class="col-sm-4 d-flex justify-content-center align-items-center">
    <a href="/checkin" style="text-decoration:none;">
      <p class="h1">打卡</p>
    </a>
  </div>
  <div class="col-sm-4 d-flex justify-content-center align-items-center">
    <a href="/workshift" style="text-decoration:none;">
      <p class="h1">交班</p>
    </a>
  </div>
  <div class="col-sm-4 d-flex justify-content-center align-items-center">
    <a href="printAndSale" style="text-decoration:none;">
      <p class="h1">列印標籤與銷售</p>
    </a>
  </div>
  <div class="col-sm-4 d-flex justify-content-center align-items-center">
    <a href="checkinList" style="text-decoration:none;">
      <p class="h1">打卡記錄查詢</p>
    </a>
  </div>
  <div class="col-sm-4 d-flex justify-content-center align-items-center">
    <a href="purchase" style="text-decoration:none;">
      <p class="h1">進貨</p>
    </a>
  </div>
  <div class="col-sm-4 d-flex justify-content-center align-items-center">
    <a href="backend/manager" style="text-decoration:none;">
      <p class="h1">老闆管理</p>
    </a>
  </div>
</div>
<script src="../js/showtime.js"></script>
