<div class="checkinList">
  <div class="back">
    <a class="backa" href="/home">
      <i class="fa-solid fa-delete-left fa-2xl"></i>
    </a>&nbsp;
    <p>返回</p>
  </div>
  <p class="h2 text-center">打卡查詢</p>
  <div class="filterlist">
    <div class="timeClass">
      <p>查詢時</p>
      <select name="sel_time" id="sel_name" class="form-select" aria-label="Defult select example">
        <option selected>請選擇時間</option>
        <option value="早班">早班</option>
        <option value="中班">中班</option>
        <option value="晚班">晚班</option>
      </select>
    </div>
    <div class="dateClass">
      <p>查詢日</p>
      <input type="date" class="form-control" id="startDate">
      <span>&nbsp; ~ &nbsp;</span>
      <input type="date" class="form-control" id="endDate">
    </div>
  </div>
  <table class="table table-light table-striped table-hover">
    <thead>
      <tr>
        <th>店號</th>
        <th>店名</th>
        <th>打卡日期</th>
        <th>打卡時間</th>
        <th>班別</th>
        <th>姓名</th>
      </tr>
    </thead>
    <tbody id="data-panel">
      <!-- display data here -->
    </tbody>
  </table>
  <div class="pagechange">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="test-aa"></div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/pp.js"></script>