
  <p class="h2 text-center">列印標籤與銷售</p>
  <div class="row py-1">
    <div class="col-sm-4">
      <p class="h5 text-center" id="datetime">日期時間:</p>
    </div>
    <div class="col-sm-2">
      <p class="h5 text-center">值班班別:<span id="class_in"> 早班</span></p>
    </div>
    <div class="col-sm-4 text-end">
      <p class="h5 text-center">員工編號:<span id="workshift"> 23445</span></p>
    </div>
    <div class="col-sm-2 text-center">
      <a href="/">
        <button class="btn btn-secondary" id="printBack">返回</button>
      </a>
    </div>
  </div>
  <div class="row my-2 d-flex justify-content-center">
    <div class="row">
      <div class="col-sm-9">
        <p class="h3 text-center" id="print_summit">列印標籤</p>
      </div>
      <div class="col-sm-2 text-center">
        <button class="btn btn-warning" id="printLable">列印</button>
      </div>
    </div>
    <div class="row">
      <table class="table table-light table-stript table-hover text-center">
        <thead>
          <tr>
            <th>原料</th>
            <th>品名</th>
            <th>包數</th>
            <th>顆數</th>
            <th>毀損</th>
          </tr>
          <tr id="label_num">
            <td>
              <select name="catory" class="form-select" id="ingreCatory">
                <option value="1">紅葉</option>
                <option value="2">少棒</option>
                <option value="3">安安</option>
                <option value="4">好喔</option>
                <option value="5">ＯＫ！</option>
              </select>
            </td>
            <td>
              <select name="catory" class="form-select" id="nutCatory">
                <option value="1">紅葉</option>
                <option value="2">少棒</option>
                <option value="3">安安</option>
                <option value="4">好喔</option>
                <option value="5">ＯＫ！</option>
              </select>
            </td>
            <td><input class="form-control" type="number"></td>
            <td><input class="form-control" type="number"></td>
            <td><input class="form-control" type="number"></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row" id="saleArea">
    <p class="h3 text-center">銷售量</p>
    <div class="row">
      <div class="col-sm-4 ">
        <p class="h4 text-center">銷售-檳榔</p>
        <table class="table table-light table-stript table-hover">
          <thead>
            <tr class="text-center">
              <th>名稱</th>
              <th>總銷售</th>
              <th>售量</th>
            </tr>
          </thead>
          <tbody id="nut">
          </tbody>
        </table>
      </div>
      <div class="col-sm-4 border">
        <p class="h4 text-center">銷售-香菸</p>
        <table class="table table-light table-stript table-hover">
          <thead>
            <tr class="text-center">
              <th>名稱</th>
              <th>總銷售</th>
              <th>售量</th>
            </tr>
          </thead>
          <tbody id="smoke">

          </tbody>
        </table>
      </div>
      <div class="col-sm-4 border">
        <p class="h4 text-center">銷售-飲料</p>
        <table class="table table-light table-stript table-hover">
          <thead>
            <tr class="text-center">
              <th>名稱</th>
              <th>總銷售</th>
              <th>售量</th>
            </tr>
          </thead>
          <tbody id="drink">

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <a href="/checkout">
        <button class="btn btn-warning">交班</button>
      </a>

    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <a href="/checkin">
        <button class="btn btn-success">打卡</button>
      </a>
    </div>
  </div>

  <div id="fiexd-header">
    <button class="btn">銷售</button>
  </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/printAndSale.js"></script>